{erl_opts,
 [
   warn_unused_vars,
   warn_export_all,
   warn_shadow_vars,
   warn_unused_import,
   warn_unused_function,
   warn_bif_clash,
   warn_unused_record,
   warn_deprecated_function,
   warn_obsolete_guard,
   strict_validation,
   warn_export_vars,
   warn_exported_vars,
   warn_missing_spec,
   warn_untyped_record,
   debug_info
 ]
}.

{deps, [ {csi, {git, "https://github.com/esl/CommonServiceInterface.git", {tag, "0.0.4"}}}
       ]}.

{relx, [{release, { cfg, "0.1.0" },
         [csi,
          cfg]},
        {sys_config, "./config/sys.config"},
        {vm_args, "./config/vm.args"},
        {dev_mode, true},
        {include_erts, false},
        {extended_start_script, true}]
}.

{xref_checks, [undefined_function_calls,
               undefined_functions,
               locals_not_used,
               exports_not_used,
               deprecated_function_calls,
               deprecated_functions]}.
